.h1 {
	margin-left: 500px;
	position: relative;
}
.h2 {
	margin-left: 570px;
	position: relative;
}
.body {

	background-color: orange;

}
.div2 {
	background-color: black;
}

.p1{
	margin-left: 400px;
	font-size: 25px;
}
.p2{
	margin-left: 530px;
	font-size: 30px;
}
.image3 {
	width:480px;
	height:350px;
	margin-left:500px;
}
.p5{
	margin-left: 630px;
	font-size: 30px;
}